* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    width: 600px;
    aspect-ratio: 2 / 1;
    margin: 70px auto;
    position: relative;
}
h1 {
    position: absolute;
    width: 50%;
    aspect-ratio: 1;
    left: 25%;
    text-align: center;
    padding-top: 200px;
    font-size: 3rem;
}
div {
    width: 25%;
    aspect-ratio: 1;
    transition: transform 1.5s;
}

.steelblue {
    background-color: steelblue;
    position: absolute;
    top: 0;
    left: 25%;
    transform-origin: top left;
}
.dimgray {
    background-color:dimgray;
    position: absolute;
    top: 0;
    right: 25%;
    transform-origin: right top;
}
.yellow{
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 25%;
    transform-origin: bottom left;
}
.rosybrown {
    background-color:rosybrown;
    position: absolute;
    bottom: 0;
    right: 25%;
    transform-origin: bottom right;
}
section:hover .steelblue {
    transform: rotate(90deg);
}
section:hover .yellow {
    transform: rotate(-90deg);
}
section:hover .dimgray {
    transform: rotate(-90deg);
}
section:hover .rosybrown {
    transform: rotate(90deg);
}
